<div id="header">
  <h1>
    Stillman’s Conjecture and other Progress on Free Resolutions: <br>
<font size="5">a workshop in honor of the sixtieth birthdays of Dave
  Bayer and Mike Stillman <br> July 17-21, 2017  </font>
  </h1>
</div>

<div id="navigation">
      <ul>
        {% assign sortedPages = site.pages | sort: 'menuOrder' %}
        {% for page in sortedPages %}
          {% if page.title %}
          <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
</div>

